<!DOCTYPE html>
<html>
    <head>
   <link href="./css/styles.css" rel="stylesheet">  

   
    </head>
<body>
    {{>header}}
    {{!-- <h1>{{title}}</h1> --}}
    {{!-- <p>created by {{name}}</p> --}}
    <centre><h1>Error - Not found</h1></centre>
    {{>footer}}
</body>    
</html>